@import '../../common/style';

::content {
  div.blue { background: #0A37D0; border: solid 1px #008; }
  div.black { background: #040928; border: solid 1px #222; }
  div.red  { background: #A60000; border: solid 1px #800; }
  div.green { background: #0B6600; border: solid 1px #080; }
  div.O { visibility: none; }
}
