@import '../../common/style';

::content {
  div.blue { background: radial-gradient(circle at 20px 20px, #122286, #0a37d0); }
  div.black { background: radial-gradient(circle at 20px 20px, #4a4a4a, #000000); }
  div.red  { background: radial-gradient(circle at 20px 20px, #a91f1f, #a60000); }
  div.green { background: radial-gradient(circle at 20px 20px, #54984b, #0b6600); }
  div.O { background: white; opacity: 0; }
}

.gbs_stone {
  position: relative;
  font-weight: bold;
  font-size: 8pt;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  @extend .unselectable;
}

.gbs_stone:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
}

.stone_amount {
  vertical-align: sub;
}
