<key-tracker id="keyTracker"></key-tracker>

<table class$="gbs_board ui-widget-content {{boomCssClass(boom)}}">
  <tbody>
    <tr>
      <td class="gbs_lx gbs_top_left"></td>
      <template is="dom-repeat" items="{{columnIndexes}}" as="columnIndex">
        <td class="gbs_lh">{{columnIndex}}</td>
      </template>
      <td class="gbs_lx top_right"></td>
    </tr>
    <template is="dom-repeat" items="{{table}}" as="row" index-as="rowIndex">
      <tr>
        <td class="gbs_lv">{{getRowNumber(table, rowIndex)}}</td>
        <template is="dom-repeat" items="{{row}}" as="cell" index-as="cellIndex">
          <td>
            <gs-cell cell-index="{{cellIndex}}" row-index="{{rowIndex}}" cell="{{cell}}" table="{{table}}" header="{{header}}" options="{{options}}" attire="{{attire}}" boom="{{boom}}"></gs-cell>
          </td>
        </template>
        <td class="gbs_lv">{{getRowNumber(table, rowIndex)}}</td>
      </tr>
    </template>
    <tr>
      <td class="gbs_lx gbs_bottom_left"></td>
      <template is="dom-repeat" items="{{columnIndexes}}" as="columnIndex">
        <td class="gbs_lh">{{columnIndex}}</td>
      </template>
      <td class="gbs_lx gbs_bottom_right"></td>
    </tr>
  </tbody>
</table>
