node_modules
bower_components/
.tmp/
tmp/
.sass-cache
.settings
team
node_modules/
deploy_packages/

.grunt/grunt-contrib-jasmine
jasmine.html

html-angular-validate-report.json

.DS_Store
npm-debug.log
/preview/preview.zip

.project
.target

*~

*.sublime-project
*.sublime-workspace

.idea/
