@import '../../common/style';

:host{
  background-color: $main-color;
  display: block;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: 0;
  *{
    box-sizing: content-box;
  }
}

.viewport{
  display: inline-block;
}

.footer-row,
.header-row{
  display: inline-flex;
  height: $cel-height;
}

.compass-top-right,
.empty-top-left,
.empty-bottom-left,
.column-index-bottom,
.column-index-top{
  display: inline-flex;
  float: left;
  width: $cel-width;
  height: $cel-height;
  background-color: #BBB;
}

.compass-top-right,
.column-index-bottom,
.column-index-top{
  margin-left: $cel-margin;
}

.column-index-bottom,
.empty-bottom-left{
  margin-top: $cel-margin;
}

.empty-bottom-left{
  clear: left;
}

.column-index-bottom{
  align-items: flex-start;
  padding-top: $cel-index-margin-h;
}

.column-index-top{
  align-items: flex-end;
  padding-bottom: $cel-index-margin-h;
}

.column-index-bottom,
.column-index-top{
  display: flex;
  font-size: 16px;
  justify-content: center;
  height: $cel-height - $cel-index-margin-h;
}
