@import '../../common/style';


:host{
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: $main-color;
  background-image: url("../assets/background-widget.png");
  >.top,
  >.bottom{
    display: block;
    height: $rule-size;
    width: 100%;
    //background-color: #FFF;
    position: absolute;
    >.center{
      position: absolute;
      top:0;
      left: $rule-size;
      width: 100%;
      padding-right: 2*$rule-size;
      box-sizing: border-box;
      height: $rule-size;
      background-color: $rule-bg;;
      overflow: hidden;
    }
    >.left,
    >.right{
      top:0;
      height: $rule-size;
      width: $rule-size;
      background-color: #FFF;
      color: white;
      position: absolute;
      background-color: $left-top-corner-bg;
    }
    >.left{
      left:0;
    }
    >.right{
      right:0;
    }
  }
  >.top{
    top:0;
  }
  >.bottom{
    bottom:0;
  }
  >.center{
    height: 100%;
    padding: $rule-size;
    box-sizing: border-box;
    >.left,
    >.right{
      top: $rule-size;
      width: $rule-size;
      padding-bottom: 2*$rule-size;
      height: 100%;
      position: absolute;
      background-color: $rule-bg;
    }
    >.left{
      left:0;
    }
    >.right{
      right:0;
    }
    >.content{
      height: 100%;
      width: 100%;
      //background-color: transparent;
      overflow: hidden;
      >.viewport{
        display: inline-block;
      }
    }
  }

  #ruleTop,
  #ruleBottom{
    display: inline-flex;
  }
  
  .column-index-bottom,
  .column-index-top,
  .row-index-left,
  .row-index-right{
    font-size: 16px;
    background-color: $index-bg;
    display: block;
  }
  
  .row-index-left,
  .row-index-right{
    overflow: hidden;
    box-sizing: content-box;
    height: $cel-height - $rule-index-margin-v;
    padding-top: $rule-index-margin-v;
    margin-top: $cel-margin;
    width: $rule-size - $rule-external-border-size - $rule-internal-border-size - $rule-index-margin-v;
  }
  
  .row-index-right{
    float: left;
    margin-left: $rule-internal-border-size;
    text-align: left;
    padding-left: $rule-index-margin-v;
  }
  
  .row-index-left{
    float: right;
    margin-right: $rule-internal-border-size;
    padding-right: $rule-index-margin-v;
    text-align: right;
  }
  
  .column-index-bottom,
  .column-index-top{
    float: left;
    width: $cel-width;
    height: $rule-size - $rule-external-border-size - $rule-internal-border-size;
    margin-left: $cel-margin;
    justify-content: center;
    display: flex;
  }
  
  .column-index-bottom{
    align-items: flex-start;
    padding-top: $rule-index-margin-h - $rule-external-border-size;
    margin-top: $rule-internal-border-size;
  }
  
  .column-index-top{
    align-items: flex-end;
    padding-bottom: $rule-index-margin-h - $rule-internal-border-size;
    margin-top: $rule-external-border-size;
  }
  
  .compass{
    background-image: url("../assets/compass.png");
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out; 
    &:hover{
      border-left: 1px solid $rule-bg;
      border-bottom: 1px solid $rule-bg;
      transform: scale(3) translate(-33%, 33%);
    }
  }
}
.options{
  color: #BDB76B;
  width: 100%;
  height: 100%;
  padding: 0;
  paper-button{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    min-width: 0;
    margin: 0;
    box-shadow: none;
    iron-icon{
      margin: 10%;
      width: 80%;
      height: 80%;
      &:hover{
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}