<div class="center">
  <div class="left">
    <div id="ruleLeft">
      <template is="dom-iterate" from="0" to="{{rows.length}}" include-last="false" index-as="rowIndex">
        <gs-v-rule-index
          class="row-index-left" 
          rule-index="{{rowIndex}}"
          zoom="{{zoom}}"
          >
        </gs-v-rule-index>
      </template>
    </div>
  </div>
  <div class="content" id="screen">
    <div id="viewport" class="viewport">
      <template is="dom-repeat" items="{{rows}}" as="row" index-as="rowIndex">
        <gs-fila 
          row="{{row}}" 
          row-index="{{row.reverseIndex}}"
          rows-amount="{{rows.length}}"
          columns-amount="{{columnsAmount}}"
          editable="{{editable}}"
        >
        </gs-fila>
      </template>
    </div>
  </div>
  <div class="right">
    <div id="ruleRight">
      <template is="dom-iterate" from="0" to="{{rows.length}}" include-last="false" index-as="rowIndex">
        <gs-v-rule-index
          class="row-index-right" 
          rule-index="{{rowIndex}}"
          zoom="{{zoom}}"
          >
        </gs-v-rule-index>
      </template>
    </div>
  </div>
</div>

<div class="top">
  <div class="left"></div>
  <div class="center">
    <div id="ruleTop">
      <template is="dom-iterate" from="0" to="{{columnsAmount}}" include-last="false" index-as="columnIndex">
        <gs-h-rule-index
          class="column-index-top" 
          rule-index="{{columnIndex}}"
          zoom="{{zoom}}"
          >
        </gs-h-rule-index>
      </template>
    </div>
  </div>
  <div class="right">N</div>
</div>
<div class="bottom">
  <div class="left"></div>
  <div class="center">
    <div id="ruleBottom">
      <template is="dom-iterate" from="0" to="{{columnsAmount}}" include-last="false" index-as="columnIndex">
        <gs-h-rule-index
          class="column-index-bottom" 
          rule-index="{{columnIndex}}"
          zoom="{{zoom}}"
          >
        </gs-h-rule-index>
      </template>
    </div>
  </div>
  <div class="right"></div>
</div>