<table class="gbs_board">
  <tbody>
    <tr>
      <td class="lx top_left"></td>
      <template is="dom-repeat" items="{{columnIndexes(board)}}" as="columnIndex">
        <td class="lh">{{columnIndex}}</td>
      </template>
      <td class="lx top_right"></td>
    </tr>
    <template is="dom-repeat" items="{{board}}" as="row" index-as="rowIndex">
      <tr>
        <td class="lv">{{getRowNumber(rowIndex)}}</td>
        <template is="dom-repeat" items="{{row}}" as="cell" index-as="cellIndex">
          <td class$="gc {{headCssClassFor(rowIndex, cellIndex)}}">
            <table>
              <tbody>
                <tr>
                  <td>
                    <gs-bolita color="blue" amount="{{cell.azul}}"></gs-bolita>
                  </td>
                  <td>
                    <gs-bolita color="black" amount="{{cell.negro}}"></gs-bolita>
                  </td>
                </tr>
                <tr>
                  <td>
                    <gs-bolita color="red" amount="{{cell.rojo}}"></gs-bolita>
                  </td>
                  <td>
                    <gs-bolita color="green" amount="{{cell.verde}}"></gs-bolita>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </template>
        <td class="lv">{{getRowNumber(rowIndex)}}</td>
      </tr>
    </template>
    <tr>
      <td class="lx bottom_left"></td>
      <template is="dom-repeat" items="{{columnIndexes(board)}}" as="columnIndex">
        <td class="lh">{{columnIndex}}</td>
      </template>
      <td class="lx bottom_right"></td>
    </tr>
  </tbody>
</table>
