@import '../../common/style';

:host{
  float: left;
  clear: left;
  margin-top: $cel-margin;
  height: $cel-height;
}

.gs-row-left,
.gs-row-right{
  float: left;
  height: $cel-height - $cel-index-margin;
  padding-top: $cel-index-margin;
  background-color: #BBB;
}
.gs-row-right{
  text-align: left;
  width: $cel-width - $cel-index-margin;
  margin-left: $cel-margin;
  padding-left: $cel-index-margin;
}
.gs-row-left{
  width: $cel-width - $cel-index-margin;
  padding-right: $cel-index-margin;
  text-align: right;
}

