$main-color: #FFF;

$rule-size: 30px;
$rule-bg: #CEE9F2;
$index-bg: #FFF;
$left-top-corner-bg: #D9F5FF;

$rule-external-border-size: 1px;
$rule-internal-border-size: 2px;
$rule-index-margin-h: 3px;
$rule-index-margin-v: 10px;

$ball-size: 18px;
$ball-margin: 1px;
$cel-width: 40px;
$cel-height: 40px;
$cel-margin: 4px;
$cel-radius: 10px;