
    
<div class="buttons">
  <button id="clean" class="btn clean">Clean</button>
  <button id="load" class="btn load">Load</button>
</div>
<div class="tablero-wrap-before">
  <gs-tablero style="width: 400px; height: 300px;" board="{{model.tablero}}"></gs-tablero>
</div>
<div class="tablero-wrap-json">
  <juicy-jsoneditor id="jsoneditor" style="height: 300px;" json="{{jsonModel}}"></juicy-jsoneditor>
</div>
<div class="tablero-wrap-after">
  <gs-tablero style=" width: 350px; height: 400px;" board="{{model.tablero}}"></gs-tablero>
</div>